<h1>Editando Invoice</h1>

<%= render 'form', invoice: @invoice %>


<%= awesome_link 'fa-eye', @invoice, class: 'btn btn-default' %>
<%= awesome_link 'fa-arrow-left', invoices_path, class: 'btn btn-default' %>