<h1>Editando Categoria</h1>


<%= render 'form', category: @category %>

<%= awesome_link 'fa-eye', @category, class: 'btn btn-default' %>
<%= awesome_link 'fa-arrow-left', categories_path, class: 'btn btn-default' %>