<div id="top" class="row">
	<div class="col-md-3">
	    <h2>Nova Categoria</h2>
	</div>
</div>
<div id="form">
	<%= render 'form', category: @category %>
	<%= awesome_link 'fa-arrow-left', categories_path, class: 'btn btn-default' %>
</div><br>